[Unit]
Description=Blinken.org server service
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=www-data
WorkingDirectory=/home/jhalderm/blinken/server
ExecStart=/home/jhalderm/blinken/server/server.js
ProtectHome=no

[Install]
WantedBy=multi-user.target
